body {
    background-image: url(assets/sakurabg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: rgb(225, 227, 227);
    background-blend-mode: lighten;
    text-align: center;
    font-family: 'maisha', sans-serif;
}

#title {
    margin-top: 100px;
    line-height: 10px;
}

#subtitle {
    opacity: 0.7;
    font-size: 18px;
    margin-bottom: 20px;
}

#calendarContainer {
    display: flex;
    justify-content: center;
}

#calendarDiv {
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 20px 20px;
    margin: auto;
    align-content: center;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#calendarHeading {
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 0px 20px;
    font-size: 20px;
    background-color: pink;
    line-height: 0px;
}

#calendarContent {
    padding: 20px;
}

.days {
    display: flex;
}

.day {
    width: 30px;
    margin: 3px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
}